body {
  font-family: "Open Sans";
  color: #999;
  background-color: gray;
}

html {

}

.top-banner {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 181px;
  background-repeat: no-repeat;
}


.castle-pic {
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-inverse {
  background-color: red;
  border-color: red;
}

.navbar-inverse .navbar-nav li a {
  font-size: 16px;
}

.information {

}

.information ul li{
  text-decoration: none;
  color: gray;
  margin: 0;
  list-style: none;
  line-height: 1.65em;
  text-align: inherit;
}

.information ul li a{
  text-decoration: none;
  color: gray;
  margin: 0;
  list-style: none;
  line-height: 1.65em;
  text-align: inherit;
}

.knight-img {
  background-image: url("../images/frontpage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.information h1{
  text-align: center;
  font-size: 18px;
}

.well {
  background-color: red;
}

