@(message: String)

    @Main("Home") {

            <div class="row">

                <div class="col-md-3 information">
                    <div class="well">
                        <h1>Information</h1>
                        <ul>
                            <li><a href="http://castlehs.k12.hi.us/aboutus.html">About Us</a></li>
                            <li><a href="http://castlehs.k12.hi.us/administration.html">Administration</a></li>
                            <li><a href="http://castlehs.k12.hi.us/athletics.html">Athletics</a></li>
                            <li><a href="http://castlehs.k12.hi.us/bellschedule.html">Bell Schedule</a></li>
                            <li><a href="http://castlehs.k12.hi.us/calendar.html">Calendar</a></li>
                            <li><a href="http://castlehs.k12.hi.us/counselors.html">Counselors</a></li>
                            <li><a href="http://castlehs.k12.hi.us/dailybulletin.html">Daily Bulletin</a></li>
                            <li><a href="http://castlehs.k12.hi.us/directories.html">Directories</a></li>
                            <li><a href="http://castlehs.k12.hi.us/knightlynews.html">Knightly News</a></li>
                            <li><a href="http://destiny.k12.hi.us/common/welcome.jsp?site=3231">Library</a></li>
                            <li><a href="http://castlehs.k12.hi.us/lunchmenu.html">Lunch Menu</a></li>
                            <li><a href="http://castlehs.k12.hi.us/smalllearningcommunities.html">Small LEarning Communities</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 hidden-sm information">
                    <div class="well">
                        <h1>Welcome to Castle High School</h1>
                        <div class="knight-img"></div>
                    </div>
                </div>

                <div class="col-md-3 information">
                    <div class="well">
                        <h1>Announcements</h1>
                        <p>
                            <strong>Monday, February 23</strong> <br>
                            Periods 1-7
                        </p>

                        <p>
                            <strong>Tuesday, February 24</strong> <br>
                            Periods 1, 3, 5, 7
                        </p>

                        <p>
                            <strong>Wednesday, February 25</strong> <br>
                            Periods 2, 4, 6
                        </p>

                        <p>
                            <strong>Thursday, February 26</strong> <br>
                            Periods 1, 3, 5, 7
                        </p>

                        <p>
                            <strong>Friday, February 27</strong> <br>
                            Periods 2, 4, PTP, 6
                        </p>
                    </div>
                </div>

            </div>

    }